@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<Sample.BingMaps.Models.Houses>
<div class="container row p-o m-0">
    <div class="col-md-10">
        <h2 class="text-info">Daftar Rumah</h2>
    </div>
    <div class="col-md-2" style="padding-top:20px">
        @Html.ActionLink("Tambah Daftar Baru", "Create", "", null, new { @class = "btn btn-info btn-sm" })
    </div>
    <div class="col-md-12 border">
        <form method="post">
            @if (Model.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(model => model.LabelHouse)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TypeHouse)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        @*<th></th>*@
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabelHouse)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TypeHouse)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            @*<td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AccountId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AccountId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AccountId })
                            </td>*@
                        </tr>
                    }

                </table>
            }
            else
            {
                <p>Tidak ada data rumah. </p>
            }

        </form>
        <br />
        <div id="myMap" style="position:relative;width:100%;height:400px;"></div>
    </div>
</div>